@charset "UTF-8";
/* CSS Document */
section{
	background-color: rgba(247,248,249,1.00);
}
#circle{
	margin-top:5px;
	margin-bottom:5px;
	border-radius:100%;
	background-color:rgba(154,36,38,1.00);
	max-height:200px;
	max-width:200px;
}
.divCenter{
	margin-left:auto;
	margin-right:auto;
}
#introRow .col-sm-4 .wow{
	margin-bottom:40px;
}
.intro-text{
	background-image: url("../image/intro-text.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.map{
	width:calc(100% + 30px);
	height:300px;
	border:0;
	margin-bottom:-7px;
	margin-left:-15px;
}
form label{
	color:rgba(255,255,255,1.00);
	font-weight:200;
}
form .text{
	border-style:none;
	border-left:0;
	border-right:0;
	border-top:0;
	border-radius:0;
	border-bottom:3px solid rgba(247,248,249,1.00);
	background:none;
	box-shadow:none;
	color:rgba(247,248,249,1.00);
	font-size:20px;
	font-weight:200;
}
form .text:active, form .text:focus{
	box-shadow:none;
	outline:none;
	border-bottom:3px solid rgba(247,248,249,1.00);
}
form .submit{
	width:100%;
	margin-bottom:20px;
	background:none;
	border:3px solid rgba(247,248,249,1.00);
	color:rgba(247,248,249,1.00);
}
form .submit:hover{
	background-color:rgba(247,248,249,1.00);
	color:rgba(196,124,89,1.00);
	border:3px solid rgba(247,248,249,1.00);
}
textarea{
	resize:none;
}
.logos{
	position:absolute;
	bottom:10px;
	margin-left:10px;
}
.social-icons{
	position:absolute;
	bottom:10px;
}
.social-icons img{
	margin:10px;
}
.scroll-down{
	color:rgba(247,248,249,1.00);
	font-weight:200;
	position: absolute;
	width: 100%;
}
#countDownFrame{
	position:absolute;
	width:100%;
	color:rgba(247,248,249,1.00);
	font-weight:200;
}
#countDown{
	margin-bottom: -20px;
}
#applicationFrame{
	position:absolute;
	width:100%;
}
#applicationFrame button{
	color:rgba(247,248,249,1.00);
	font-weight:200;
	background:none;
	padding-left:40px;
	padding-right:40px;
	border-radius: 10px;
	border:2px solid rgba(247,248,249,1.00);
}
#applicationFrame button:hover{
	background-color:rgba(247,248,249,0.80);
	color:rgba(60, 60, 60, 1.0);
}
#video-frame{
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	display: none;
}
video#bgvid{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
}
.main-event-detail-table .title{
	padding-right: 20px;
	text-align: right;
}
#email-send-success, #email-send-fail, #email-send-missing{
	font-weight: 300;
	display: none;
}
#email-send-fail a{
	color: rgba(247,248,249,1.0);
	text-decoration: underline;
}
#email-send-fail a:hover{
	color: rgba(160,160,160,1.0);
	text-decoration: underline;
}
@media (max-width: 767px) {
	#countDownFrame{
		top:20vh;
	}
	#applicationFrame{
		top:60vh;
	}
	#applicationFrame button{
		padding-left:20px;
		padding-right:20px;
	}
	.video-frame video{
		display: none;
	}
	.intro-text{
		padding-top: 70px;
		padding-bottom: 70px;
		padding-left: 5%;
		padding-right: 5%;
	}
	#circle{
		height:40vw;
		width:40vw;
	}
	#introRow .col-sm-4{
		margin-bottom:60px;
	}
	.map{
		margin-top:20px;
	}
	.form{
		padding-left:5vw;
		padding-right:5vw;
	}
	.form label{
		font-size:20px;
	}
	form .submit{
		font-size:20px;
	}
	.social-icons{
		width:1px;
		right:70px;
		text-align:center;
	}
	.social-icons img{
		height:25px;
	}
	.logos{
		width:1px;
		margin-left:-10px;
	}
	.logos img{
		height:30px;
		margin-top:5px;
		margin-bottom:5px;
	}
	.scroll-down{
		font-size:24px;
		bottom:20px;
	}
	.scroll-down img{
		height:19px;
	}
	#scroll-down a, #scroll-down a:link, #scroll-down a:hover, #scroll-down a:active, #scroll-down a:visited{
		color:rgba(247,248,249,1.00);
	}
	#countDown{
		font-size:45px;
	}
	#applicationFrame button{
		font-size:23px;
	}
}
@media (min-width: 768px) {
	#countDownFrame{
		top:30vh;
	}
	#applicationFrame{
		top:70vh;
	}
	.intro-text{
		padding-top: 120px;
		padding-bottom: 120px;
		padding-left: 12%;
		padding-right: 12%;
	}
	#circle{
		height:20vw;
		width:20vw;
	}
	.detail-left{
		padding-left:5vw;
	}
	.detail-right{
		padding-right:5vw;
	}
	#awardText{
		margin-top:40px;
	}
	#mapText{
		margin-top:15px;
	}
	.form{
		padding-left:5vw;
		padding-right:5vw;
	}
	.form label{
		font-size:18px;
	}
	form{
		margin-right:9vw;
	}
	.logos img{
		margin:6px;
		height:40px;
	}
	.social-icons{
		right:40px;
	}
	.social-icons img{
		height:25px;
	}
	.scroll-down{
		font-size:26px;
		bottom:40px;
	}
	.scroll-down img{
		height:20px;
	}
	#countDown{
		font-size:60px;
	}
	#countDownFrame{
		font-size:30px;
	}
	#applicationFrame button{
		font-size:30px;
	}
}
@media (min-width: 1200px) {
	#countDownFrame{
		top:35vh;
	}
	#applicationFrame{
		top:70vh;
	}
	.intro-text{
		padding-top: 200px;
		padding-bottom: 200px;
		padding-left: 20%;
		padding-right: 20%;
	}
	.detail-left{
		padding-left:10vw;
	}
	.detail-right{
		padding-right:10vw;
	}
	.map{
		margin-left:-14px;
	}
	form label{
		font-size:20px;
	}
	form .submit{
		font-size:20px;
	}
	.logos img{
		margin:10px;
		height:40px;
	}
	.scroll-down{
		bottom:40px;
	}
	.social-icons img{
		height:35px;
	}
	#countDown{
		font-size:80px;
	}
	#countDownFrame{
		font-size:40px;
	}
	#applicationFrame button{
		font-size:30px;
	}
}
@media (max-height: 319px) {
	#countDownFrame{
		top:10vh;
	}
	#countDown{
		font-size:30px;
	}
	#applicationFrame{
		top:60vh;
	}
	#applicationFrame button{
		font-size:23px;
	}
}
@media (min-height: 320px) and (max-height: 479px) {
	#countDownFrame{
		top:15vh;
	}
	#countDown{
		font-size:30px;
	}
	#applicationFrame{
		top:60vh;
	}
	#applicationFrame button{
		font-size:23px;
	}
}
@media (min-height: 480px) and (min-height: 568px) {
	#countDownFrame{
		top:20vh;
	}
	#countDown{
		font-size:40px;
	}
	#applicationFrame{
		top:60vh;
	}
	#applicationFrame button{
		font-size:23px;
	}
}
@media (min-height: 568px) and (max-height: 735px) and (min-width: 768px) {
	#countDownFrame{
		top:30vh;
	}
	#countDown{
		font-size:45px;
	}
	#applicationFrame{
		top:70vh;
	}
}
@media (min-height: 736px) and (max-width: 767px) {
	#countDownFrame{
		top:35vh;
	}
	#applicationFrame{
		top:70vh;
	}
}